.ditherBg{
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  z-index: 1;
  pointer-events: none;

  opacity: 1.0;
  mix-blend-mode: soft-light;
  filter: saturate(0.9) contrast(1.05) brightness(0.85);
}
