.ditherBg{ 
  position: fixed; 
  inset: 0; 
  pointer-events:none; 
  z-index:1; 
  mix-blend-mode: overlay;
}
.ditherBg canvas{ 
  opacity: 0.5; 
  filter: saturate(0.9) contrast(1.05) brightness(0.85); 
}
